.background{
    width: 100vw;
    height: 100vh;
    background-color: #3D989B;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .logo{
        width: 25vw;
    }
    .logo-text{
        width: 40vw;
    }
}