<div class="background">
  <div class="navbar">
    <img class="logo" src="assets/img/vacinas/logo.png" alt="leituraVac" />
  </div>
  <div class="content">
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <div class="timeline">
        <app-card class="card" *ngFor="let item of timelineData" [item]="item"></app-card>
        <div class="line"></div>
    </div>
  </div>
</div>
